{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hadi Bot</title>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<table>
    <tr>
        <td><a id="getme-link" href="/getme/">Get Me</a></td>
    </tr>
    <tr>
        <td><a id="getme-link" href="/update/">Update</a></td>
    </tr>
    <tr>
        <td><a href="setwebhook">Set Webhook</a></td>
    </tr>
    <tr>
        <td><a href="{% static 'bg.jpg' %}">Test Static Files</a></td>
    </tr>
    <tr>
        <td><a href="{{ MEDIA_URL }}text.txt">Test Media Files</a></td>
    </tr>
</table>
</body>
</html>